
.landing-cont{
    height: calc(100% - 64px);
    position: relative;
}
.logo-cont{
    position: relative;
    display: inline-block;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}
.logo-cont > * {
    text-align: center;
}
.landing-link{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}